.img-princ {
    height: 200px;
    width: 200px;
}

#avatar {
    height: 300px;
    width: 300px;
}

#logo {
    height: 40px;
    width: 40px;
}

ul.navbar-nav, navbar-header {
    padding: 10px;
}

ul.navbar-nav a {
    padding-left: 40px;
}

.event {
    text-align: center;
}

.imagenevent {
    display: block;
    margin: auto;
}

.titulo {
    border-bottom: solid;
    border-color: green;
}