.img-princ {
    height: 200px;
    width: 200px;
}

#logo {
    height: 40px;
    width: 40px;
}

ul.navbar-nav, navbar-header {
    padding: 10px;
}

ul.navbar-nav a, navbar-header {
    padding-left: 40px;
}

.event {
    text-align: center;
}

.imagenevent {
    display: block;
    margin: auto;
}