.img-princ {
    height: 200px;
    width: 200px;
}

#avatar {
    height: 300px;
    width: 300px;
}

#logo {
    height: 40px;
    width: 40px;
}

ul.navbar-nav, navbar-header {
    padding: 10px;
}

ul.navbar-nav a, a.navbar-brand {
    padding-left: 40px;
}

.event {
    text-align: center;
}

.imagenevent {
    display: block;
    margin: auto;
}

.titulo {
    color: green;
    border-bottom: solid;
    border-color: green;
}

.row {
    padding: 30px;
}

.evento {
    color: black;
    font-size: 17px;
}

nav, ul.navbar-nav, li.nav-item a, .fondoNav {
    background-image: url("../fondoNav.png");
    background-size: cover;
    background-repeat: no-repeat;
}

li.nav-item a {
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    background-image: url("../fondo.jpg");
    background-size: auto;
}

.pagination {
    justify-content: center;
}

.izq {
    text-align: left;
}

#mapid {
    height: 180px;
}