@import "homeAuxiliar";

.img-princ {
  height: 200px;
  width: 200px;
}

#avatar {
  height: 300px;
  width: 300px;
}

#logo {
  height: 40px;
  width: 40px;
  margin-left: 40px;
}

ul.navbar-nav a, a.navbar-brand {
  padding-left: 30px;
}

.event {
  text-align: center;
}

.imagenevent {
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

.titulo {
  color: $fondoSecunadrio;
  border-bottom: solid;
  border-color: $fondoSecunadrio;
}

.row {
  padding: 30px;
}

.evento {
  color: black;
  font-size: 17px;
}

body {
  background: $fondo;
  background: linear-gradient(to bottom, $fondo 0%,$gradienteFondo 99%);
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

.factura {
  background: #00b7ea;
}

.pagination {
  justify-content: center;
}

.izq {
  text-align: left;
}

.mapsmall {
  width: 300px;
  height: 200px;
  box-shadow: 5px 5px 5px #888;
}

.mapfull {
  width: 100%;
  height: 300px;
  box-shadow: 5px 5px 5px #888;
}

.perfil {
  margin-top: 40px;
}

.estrella {
  width: 15px;
  height: 15px;
}

.votar {
  width: 30px;
  height: 30px;
}

.imagecomment {
  width: 50px;
  height: 60px;
}

.imageinvoice {
  width: 100px;
  height: 100px;
}

.votos {
  padding: 3px;
}

.imageRegistro {
  width: 100%;
}

.datos {
  justify-content: space-between;
}


.scrollHorizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollHorizontal .row{
  display:block;
}

.scrollHorizontal .eventoScroll {
  display: inline-block;
  float: none;
  padding: 15px;
}

.spinner {
  width: 50px;
  height: 50px;
  background-color: $gradienteFondo;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 $rojo;
  -webkit-box-shadow: 30px 10px 0 $rojo;
  box-shadow: 2px 2px 0 $rojo;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}




.md-input {
  position: relative;
  margin-bottom: 30px;
}
.md-input .md-form-control {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid #CACACA;
  box-shadow: none;
  width: 100%;
}

.md-input label {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: $negro;
}

.md-input .bar:before {
  left: 50%;
}

.md-input .bar:after {
  right: 50%;
}

.md-input .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
  top: -19px;
  font-size: 14px;
  color: $negro;
}
.md-input .bar:before, .md-input .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: $fondo;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
  width: 50%;
}